footer(style= "opacity: 1.0; text-align: center;")
  ul(style="padding:0;")
    li(style="display: inline-block;") © 2016 MetaCard, Inc. All Rights Reserved. Made with
    li(style="padding: 0 .3em; color: #e74c3c").glyphicon.glyphicon-heart
    li(style="display: inline-block;") by students @ Purdue University