extends splashLayout

block content
  div(id="d1" style="height: 80vh; background: url('assets/splash_hiking.jpeg'); background-repeat: no-repeat; background-size: cover; background-color:rgba(0, 0, 0, 0.5); background-blend-mode: multiply; padding-left: 7vw")
    div(style="padding-left: 15px; padding-right: 15px; position: absolute; top: 35vh; z-index: 2; text-align: left")
      h1(id="d1t1" style="display: none; color: #FFFFFF;") Connect with friends quickly.
      h3(id="d1t2" style="display: none; color: #FFFFFF;") Add friends on social media in one centralized location.
  div(id="d2" style="padding-left: 15px; padding-right: 15px; position: relative; height: 100vh; background: #3A539B;")
    div(style="position: absolute; bottom: 40%; text-align: left")
      h1(id="d2t1" style="display: none; color: #FFFFFF;") This is text.
      h3(id="d2t2" style="display: none; color: #FFFFFF;") It fades in.
  div(id="d3" style="padding-left: 15px; padding-right: 15px; position: relative; height: 100vh; background: #F5AB35;")
    div(style="position: absolute; bottom: 40%; text-align: left")
      h1(id="d3t1" style="display: none; color: #FFFFFF;") Kinda cool,
      h3(id="d3t2" style="display: none; color: #FFFFFF;") right?